<div class="form-group row mt_20">
  <label for="auction_pic_ad_title" class="col-sm-2 control-label">标题</label>
  <div class="col-sm-8">
    <%= f.text_field :title, placeholder: '标题', class: 'form-control', required: "required" %>
  </div>
</div>

<div class="form-group row mt_20">
  <label for="auction_pic_ad_pic" class="col-sm-2 control-label">图片</label>
  <div class="col-sm-8">
    <%= render partial: 'images/upload_single_image', locals: {prev_id: 'pic', item_name: "auction_pic_ad[pic]", item_id: "auction_pic_ad_pic", upload_btn_id: 'upload_pic', preview_id: 'preview_pic', image_path: @auction_pic_ad.pic, model_name: @auction_pic_ad.class.to_s} %>
  </div>
</div>

<div class="form-group row mt_20">
  <label for="auction_pic_ad_publish_time" class="col-sm-2 control-label">发布时间</label>
  <div class="col-sm-8">
    <%= f.text_field :publish_time, placeholder: '发布时间', id: 'datetimepicker1',class: 'form-control', required: "required" %>
  </div>
</div>

<div class="form-group row mt_20">
  <label for="auction_pic_ad_down_time" class="col-sm-2 control-label">下线时间</label>
  <div class="col-sm-8">
    <%= f.text_field :down_time, placeholder: '下线时间', id: 'datetimepicker2', class: 'form-control', required: "required" %>
  </div>
</div>

<div class="form-group row mt_20">
  <label for="auction_pic_ad_link_type" class="col-sm-2 control-label">链接类型</label>
  <div class="col-sm-8">
    <%= f.select :link_type, options_for_select(Auction::PicAd::LINK_TYPE.to_a.map(&:reverse), @auction_pic_ad.link_type), {}, class: 'form-control is_select2' %>
  </div>
</div>

<div class="form-group row mt_20">
  <label for="auction_pic_ad_link_url" class="col-sm-2 control-label">链接地址</label>
  <div class="col-sm-8">
    <%= f.text_field :link_url, placeholder: '链接地址（专题、商品,活动 是ID值）', class: 'form-control', required: "required" %>
  </div>
</div>

<div class="form-group row mt_20">
  <label for="auction_pic_ad_title" class="col-sm-2 control-label">排序</label>
  <div class="col-sm-8">
    <%= f.text_field :sort_field, placeholder: '排序', class: 'form-control', required: "required" %>
  </div>
</div>
