<p class="sub-header">统计>数据统计>微集分明细</p>
<div class="row placeholders well">
  <%= form_for score_statis_path, html: {method: :get, class: 'navbar-form navbar-left', id: 'search_form'} do |f| %>
    <div class="form-group row">
      <span>起始时间：</span>
      <%= text_field_tag 'q[create_time_gteq]', params[:q][:create_time_gteq], class: 'form-control mr_20 search_time_begin', placeholder: '起始时间' %>
      <span>结束时间：</span>
      <%= text_field_tag 'q[create_time_lteq]', params[:q][:create_time_lteq], class: 'form-control mr_20 search_time_end', placeholder: '结束时间' %>
      <%= f.submit '查询', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>


<div class="row">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <!-- <th></th> -->
        <th>用户ID</th>
        <th>手机号</th>
        <th>交易时间</th>
        <th>交易数量</th>
        <th>交易状态</th>
        <th>交易类型</th>
      </tr>
    </thead>
    <tbody>
      <% @account_logs && @account_logs.each_with_index do |account_log, index| %>
        <tr id="tr_<%= account_log.id %>">
          <!-- <td><%#= account_log.id %></td> -->
          <td>
            <%#= account_log.user_id %>
            <%#= account_log.user_third_party&.card_user&.id %>

            <%= @users&.find{|u| u&.mobile == @user_third_partys&.find{|utp| utp.user_id == account_log.user_id}&.third_account}.id %>
          </td>
          <td><%= @users&.find{|u| u&.mobile == @user_third_partys&.find{|utp| utp.user_id == account_log.user_id}&.third_account}.mobile %></td>
          <td><%= account_log.create_time&.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= account_log.change_amount %></td>
          <td><%= change_type_txt(account_log.change_type) %></td>
          <td><%= al_type_txt(account_log.type) %></td>
          <!-- <td>
            <%#= link_to '下载', "javascript:void(0)", onclick: "account_log_delete(#{account_log.id}, '#{account_log.name}')", role: 'button', class: 'btn btn-sm btn-danger' %>
          </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @account_logs %>
