<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>申报ID</th>
      <th>申报活动名称</th>
      <th>申报商品</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @auction_promotion_activity_apply_products.each do |auction_promotion_activity_apply_product| %>
      <tr>
        <td><%= auction_promotion_activity_apply_product.promotion_activity_apply_id %></td>
        <td><%= auction_promotion_activity_apply_product.promotion_activity_id %></td>
        <td><%= auction_promotion_activity_apply_product.product_id %></td>
        <td><%= link_to '显示', auction_promotion_activity_apply_product %></td>
        <td><%= link_to '编辑', edit_auction_promotion_activity_apply_product_path(auction_promotion_activity_apply_product) %></td>
        <td><%= link_to '删除', auction_promotion_activity_apply_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
