<p id="notice"><%= notice %></p>

<h1>Auction Transactions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auction_transactions.each do |auction_transaction| %>
      <tr>
        <td><%= link_to 'Show', auction_transaction %></td>
        <td><%= link_to 'Edit', edit_auction_transaction_path(auction_transaction) %></td>
        <td><%= link_to 'Destroy', auction_transaction, method: :delete, data: { confirm: '
Are you sure?

你确定吗？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auction Transaction', new_auction_transaction_path %>
