<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dealer.name %>
</p>

<p>
  <strong>Dealer type:</strong>
  <%= @dealer.dealer_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dealer.status %>
</p>

<p>
  <strong>Content:</strong>
  <%= @dealer.content %>
</p>

<%= link_to 'Edit', edit_dealer_path(@dealer) %> |
<%= link_to 'Back', dealers_path %>
