<div class="row placeholders">
  <form action="/download_csv" method="get" class="navbar-form navbar-left">
    文件类型:
    <select class="select2-picker form-control select-width-70" name="statistic_type" >
      <option value="0">全部</option>
      <option value="1">兑换订单</option>
      <option value="2">中奖订单</option>
      <option value="3">card</option>
    </select>
    <button type="submit" class="btn btn-success">搜索</button>
  </form>

</div>

<p class="sub-header">报表</p>

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>文件名称</th>
      <th>文件类型</th>
      <th>导出人</th>
      <th>下载时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% @csv_files.each_with_index do |csv,index| %>
        <tr>
          <th scope="row"><%= index + 1%></th>
          <td><%= csv.csv_name%></td>
          <td><%= statistic_type_name  csv.statistic_type%></td>
          <td><%=csv.user&.name %></td>
          <td><%= csv.download_date.strftime("%Y-%m-%d %H:%M:%S")%></td>
          <td><a href="/download_csv/download_csv_file.csv?id=<%= csv.id%>&file_path=<%=csv.url%>&filename=<%=csv.csv_name%>">点击下载</a></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%=paginate @csv_files%>
