<% @packages.each do |p| %>
    <% @tr_id = MyUtils.generate_uuid %>
    <tr id="<%= @tr_id %>">
      <input type="hidden" name="battle_packages[]package_id" value="<%= p.id %>">
      <input type="hidden" name="battle_packages[]bp_type" value=2>
      <td>
        <div class="input-group" style="width: 200px !important;">
          <input type="number" required min="1" class="form-control package_micro_score" name="battle_packages[]micro_score" placeholder="微集分" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">微集分</span>
        </div>
      </td>
      <td>
        <input type="text" readonly name="battle_packages[]name" value="<%= p.name %>">
        <a target="_blank" href="/packages/<%= p.id%>">详情</a>
      </td>
      <td><%= p.price.to_f %></td>
      <td>
        <input type="number" name="battle_packages[]package_num" onkeyup="countBPackagePrice(this,<%= p.price.to_f%>,'<%= 'p'+@tr_id%>')" value="1">
      </td>
      <td>
        <input id="<%= 'p'+@tr_id %>" class="pac_price" type="input" value="<%= p.price.to_f %>" readonly>
      </td>
      <td><a href="javascript:void(0)" onclick="delBattlePackageTr('<%= @tr_id%>')">删除</a></td>
    </tr>
<% end %>