<div class="panel panel-default" >
  <div class="panel-body panel-form-center">
    <%= simple_form_for @manage_authority, html: {class: 'form-horizontal'}, wrapper: :horizontal_form,
                        wrapper_mappings: {
                            check_boxes: :horizontal_radio_and_checkboxes,
                            radio_buttons: :horizontal_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                        } do |f| %>
        <%= f.input :name, label: '名称:' ,required: 'true'%>
        <%= f.input :action, label: 'action:' ,required: 'true'%>
        <%= f.button :submit, '保存', class: 'btn-info sf-submit' %>
        <%= link_to '取消', "", class: 'btn btn-default ml_20', role: 'button' %>
    <% end %>
  </div>
</div>
