<p id="notice"><%= notice %></p>

<h1>Account Tactics</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Tactic</th>
      <th>Follow money</th>
      <th>Dealer type</th>
      <th>Dealer</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_tactics.each do |account_tactic| %>
      <tr>
        <td><%= account_tactic.account_id %></td>
        <td><%= account_tactic.tactic_id %></td>
        <td><%= account_tactic.follow_money %></td>
        <td><%= account_tactic.dealer_type %></td>
        <td><%= account_tactic.dealer_id %></td>
        <td><%= account_tactic.active %></td>
        <td><%= link_to 'Show', account_tactic %></td>
        <td><%= link_to 'Edit', edit_account_tactic_path(account_tactic) %></td>
        <td><%= link_to 'Destroy', account_tactic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account Tactic', new_account_tactic_path %>
