<%# if @package.prize_type == 1 %>
<% @extreme_chest.extreme_chest_items.each do |extreme_chest_item| %>

  <% if extreme_chest_item.gift_type == 1 %>
    <tr class="fields_origin_statc content_tr" id="item_tr_<%= extreme_chest_item.id %>">
      <td>计谋<input type="hidden" name="extreme_chest_items[][gift_type]" value="1"></td>
      <td width="30">
        <p class="gift_type_select">
          <select name="extreme_chest_items[][gift_range]" class="extreme_chest_select2 extreme_chest_items_card_chose">
            <% Card.active.each do |card| %>
              <% if extreme_chest_item.gift_range.to_i == card.id %>
                <option value="<%= card.id %>" selected="selected"><%= card.name %></option>
              <% else %>
                <option value="<%= card.id %>"><%= card.name %></option>
              <% end %>
            <% end %>
          </select>
        </p>
      </td>

      <td>
        <div class="input-group">
          <input type="number" name="extreme_chest_items[][gift_count]" min="0" max="99999" class="form-control" required="required" placeholder="整数" value="<%= extreme_chest_item.gift_count %>">
          <span class="input-group-addon">份</span>
        </div>
      </td>

      <td><%= link_to '删除', 'javascript:void(0)', class: "del_extreme_chest_item_origin", id: "extreme_chest_item_#{extreme_chest_item.id}" %></td>
      <input type="hidden" name="extreme_chest_items[][extreme_chest_item_id]" value="<%= extreme_chest_item.id %>">
    </tr>
  <% elsif extreme_chest_item.gift_type == 2 %>
    <tr class="fields_origin_statc content_tr" id="item_tr_<%= extreme_chest_item.id %>">
      <td>入场券<input type="hidden" name="extreme_chest_items[][gift_type]" value="2"></td>
      <td width="30">
        入场券<input type="hidden" name="extreme_chest_items[][gift_range]" value="入场券">
      </td>

      <td>
        <div class="input-group">
          <input type="number" name="extreme_chest_items[][gift_count]" min="0" max="99999" class="form-control" required="required" placeholder="整数" value="<%= extreme_chest_item.gift_count %>">
          <span class="input-group-addon">份</span>
        </div>
      </td>

      <td><%= link_to '删除', 'javascript:void(0)', class: "del_extreme_chest_item_origin", id: "extreme_chest_item_#{extreme_chest_item.id}" %></td>
      <input type="hidden" name="extreme_chest_items[][extreme_chest_item_id]" value="<%= extreme_chest_item.id %>">
    </tr>
  <% elsif extreme_chest_item.gift_type == 3 %>
    <tr class="fields_origin_statc content_tr" id="item_tr_<%= extreme_chest_item.id %>">
      <td>能量<input type="hidden" name="extreme_chest_items[][gift_type]" value="3"></td>
      <td width="30">
        能量<input type="hidden" name="extreme_chest_items[][gift_range]" value="能量">
      </td>

      <td>
        <div class="input-group">
          <input type="number" name="extreme_chest_items[][gift_count]" min="0" max="99999" class="form-control" required="required" placeholder="整数" value="<%= extreme_chest_item.gift_count %>">
          <span class="input-group-addon">点</span>
        </div>
      </td>

      <td><%= link_to '删除', 'javascript:void(0)', class: "del_extreme_chest_item_origin", id: "extreme_chest_item_#{extreme_chest_item.id}" %></td>
      <input type="hidden" name="extreme_chest_items[][extreme_chest_item_id]" value="<%= extreme_chest_item.id %>">
    </tr>
  <% end %>

<% end %>


<%= render 'item_del_modal'%>

<script type="text/javascript">
  // $(document).on('turbolinks:load', function () {
  $(function () {
    $(".extreme_chest_select2").select2()
  })
</script>

<script type="text/javascript">
  $(document).on('turbolinks:load', function () {
    $('.del_extreme_chest_item_origin').on('click', function(){
      $('#delExtremeChestItemModal').modal('show')
      var this_id = $(this).attr('id')
      $('#delExtremeChestItemModal').on('shown.bs.modal',function(){
        console.log(this_id)
        $('#del_item_id').val(this_id.split('_')[3])
        // $('#belong_extreme_chest_id').val(this_id.split('_')[0])
      })
    })
  })
</script>

