<div class="row placeholders">


</div>

<p class="sub-header">系统管理>宝箱管理>推广页设定</p>
<div class="panel panel-default">
  <div class="panel-heading">主推商品</div>
  <div class="panel-body">
    <div class="form-group row">
      <div class="col-sm-12">
        <form action="/box_lucky_walls/main_pro_update" method="post">
          <input type="hidden" name="id" value="<%= @main_product&.id %>">

          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">幸运墙用户数量</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="number" name="lucky_user_num" min="1" max="100"
                       step='1' class="form-control"
                       value="<%= @main_product&.lucky_user_num %>" required="required"
                       placeholder="最多100">
                <span class="input-group-addon">个</span>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">奖品墙标题</label>
            <div class="col-sm-8">
              <input type="input" name="title" value="<%= @main_product&.title %>"
                     class="form-control" required="required" placeholder="奖品墙标题">
              <p class="bg-danger p_last_num" id="apn_last_num"></p>
            </div>
          </div>

          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">主推商品名称</label>
            <div class="col-sm-8">
              <input type="input" name="name" class="form-control" value="<%= @main_product&.name %>" placeholder="商品名称">
              <p class="bg-danger p_last_num" id="sku_id_last_num"></p>
            </div>
          </div>

          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">主推商品价格（￥）</label>
            <div class="col-sm-8">
              <input type="number" name="price" min="0" max="99999999" step='1'
                     class="form-control" required value="<%= @main_product&.price.to_i %>"
                     oninvalid="setCustomValidity('价格必填整数')"
                     placeholder="商品价格">
            </div>
          </div>

          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">展示图片</label>
            <div class="col-sm-8">
              <%= render 'images/upload_single_image' %>
            </div>
          </div>


          <div class="form-group row">
            <label for="battle_product_desc" class="col-sm-2 col-form-label">推广文字</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="4" name="promotion_words" placeholder="请输入xxx人必得，不输入则无"><%= @main_product&.promotion_words %></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">保存</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">其他商品列表 <a href="/box_lucky_walls/new" class="btn btn-info btn-sm " role="button">添加</a>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>商品名称</th>
          <th>商品内容</th>
          <th>商品价格</th>
          <th>推广文字</th>
          <th>是否领空</th>
          <th>商品图片</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% @other_products.each do |pro| %>
            <tr>
              <td><%= pro.name %></td>
              <td><%= pro.content %></td>
              <td><%= pro.price.to_f %></td>
              <td><%= pro.promotion_words %></td>
              <td><%= pro.is_over ? '已领空' : '未领空' %></td>
              <td><img src="<%= FASTDFSCONFIG[:fastdfs][:tracker_url] + pro.image.to_s %>" width="80px"></td>
              <td>
                <a href="/box_lucky_walls/<%= pro.id %>/edit" class="btn btn-info btn-sm " role="button">修改</a>
                <a href="javascript:void(0)" class="btn btn-danger btn-sm "
                   role="button" onclick="obj_delete_modal(<%= pro.id%>,'<%= pro.name%>')">删除</a>
              </td>
            </tr>
        <% end %>

        </tbody>
      </table>

    </div>
    <%= paginate @other_products %>
  </div>
</div>

<%= render 'shared/obj_delete_modal', locals: {title: '刪除', url: '/box_lucky_walls/destroy_wall'} %>
