<table class="table table-hover">
  <thead>
    <tr>
      <th>供应商id</th>
      <th>供应商名称</th>
      <th>结算月份</th>
      <th>订单金额</th>
      <th>物流费用</th>
      <th>其他费用</th>
      <th>实际结算</th>
      <th>付款状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @report_forms.each do |report_form| %>
      <tr>
        <td><%= report_form.provider_id %></td>
        <td><%= report_form.supplier&.name %></td>
        <td><%= report_form.date %></td>
        <td><%= report_form.trade_amount %></td>
        <td><%= report_form.express_amount %></td>
        <td><%= report_form.other_fee %></td>
        <td><%= report_form.total_amount %></td>
        <td><%= Manage::ReportForm::STATUS[report_form.status] %></td>
        <td>
          <% if current_user.can?("manage/report_forms#edit")%>
            <a href="/manage/report_forms/<%= report_form.id%>/edit" class="btn btn-warning btn-sm">编辑</a>
          <% end %>

          <% if report_form.status == 0 && current_user.can?("manage/report_forms#update_status")%>
            <a href="/manage/report_forms/<%= report_form.id%>/update_status" class="btn btn-warning btn-sm">结算</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @report_forms %>
