<%= simple_form_for(@supplier_provider, url: "/supplier/providers/update_password", method: "post") do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :password, label: "原密码" %>
    <%= f.input :new_password, label: "新密码" %>
    <%= f.input :password_confirm, label: "确认新密码" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: "更新" %>
  </div>
<% end %>
