<div class="row placeholders well">
  <%= form_for energy_products_path, html: {method: :get, class: 'navbar-form navbar-left', id: 'search_form'} do |f| %>
    <div class="form-group row">
      <span>商品名称：</span>
      <%= text_field_tag "q[name_cont]", params[:q][:name_cont], class: 'form-control mr_20', placeholder: '商品名称' %>
      <span>能量值：</span>
      <%= text_field_tag 'q[energy_count_gteq]', params[:q][:energy_count_gteq], class: 'form-control mr_20', placeholder: 'X能量值以上' %>
      <span>状态：</span>
      <%= select_tag 'q[status_eq]', options_for_select([['所有状态', nil]] + EnergyProduct::SHELFSTATUS.to_a.map(&:reverse), params[:q][:status_eq]), class: 'form-control mr_50' %>
      <%= f.submit '搜索', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
