<%= form_with(model: article, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title %>
  </div>

  <div class="field">
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at, id: :article_published_at %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :article_content %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :article_active %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published, id: :article_published %>
  </div>

  <div class="field">
    <%= form.label :from_url %>
    <%= form.text_field :from_url, id: :article_from_url %>
  </div>

  <div class="field">
    <%= form.label :img %>
    <%= form.text_field :img, id: :article_img %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
