<!-- <div id="prize_div"> -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>金额</th>
        <th>数量</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="rule_items_body">
      <input type="hidden" id="rule_id" value="<%= @red_package_rule.id %>">
      <% @rule_items && @rule_items.each do |rule_item| %>
        <tr id="tr_<%= rule_item.id %>">
          <input type="hidden" name="rule_items[][id]" value="<%= rule_item.id %>">
          <td>
            <input type="number" name="rule_items[][amount]" value="<%= rule_item.amount %>" min="0" placeholder="金额" required>
          </td>
          <td>
            <input type="number" name="rule_items[][count]" value="<%= rule_item.count %>" min="0" placeholder="数量" required>
          </td>
          <td>
            <% unless params[:action] == 'show' %>
              <%= link_to '删除', 'javascript:void(0)', class: "del_rule_item_origin", id: "rule_item_#{rule_item.id}" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<!-- </div> -->
<%= render 'del_rule_item_modal'%>

<script type="text/javascript">
  // $(document).on('turbolinks:load', function () {
  $(function(){
    $('#add_rule_item').on('click', function(){
      $.ajax({
        type: 'get',
        url: '/promotion/red_package_rules/get_item_form',
        data: { random_id: 'rpr' + Number($('#random1_id').text())},
        success: function(result){
          $('#rule_items_body').append(result)
        },
        error: function(XMLHttpResponse){
          alert('添加失败')
        }
      })
      $('#random1_id').text(Number($('#random1_id').text()) + 1)
    })
  })

  $(document).on('turbolinks:load', function () {
    $('.del_rule_item_origin').on('click', function(){
      $('#delRuleItemModal').modal('show')
      var this_id = $(this).attr('id')
      var rule_id = $('#rule_id').val()
      $('#delRuleItemModal').on('shown.bs.modal',function(){
        console.log(this_id)
        $('#del_rule_item_id').val(this_id.split('_')[2])
        $('#red_package_rule_id').val(rule_id)
        // $('#belong_extreme_chest_id').val(this_id.split('_')[0])
      })
    })
  })

</script>
