<div class="row"><p class="sub-header">系统管理>道具设置>锦囊设置</p></div>
<% url = @game_prop.new_record? ? create_silk_bag_game_props_path : update_silk_bag_game_prop_path %>
<%= form_for @game_prop, url: url, html: {:method=>"post", class: 'bg pd_20 form-horizontal'} do |f| %>
  <div class="form-group row mt_20">
    <label for="" class="col-sm-2 control-label">名称</label>
    <div class="col-sm-8">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row mt_20">
    <label for="input" class="col-sm-2 control-label">外观</label>
    <div class="col-sm-8">
      <%= render 'images/upload_single_image' %>
    </div>
  </div>

  <div class="form-group row mt_20">
    <label for="head_frame_game_type" class="col-sm-2 control-label">是否可在最后一轮使用</label>
    <div class="col-sm-8">
      <%= f.select :status, options_for_select(GameProp::LOW_GAME.to_a.map(&:reverse), @game_prop.status), {}, class: 'form-control', required: "required" %>
    </div>
    <%#= f.select :game_type, options_for_select([['注册赠送', 0], ['能量兑换', 1]] + MsgChat::GAME_TYPE.to_a.map(&:reverse), @head_frame.game_type), {}, class: 'form-control', required: "required" %>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 control-label">锦囊说明</label>
    <div class="col-sm-8">
      <%= f.text_area :remark, class: 'form-control', rows: '6', required: 'required' %>
    </div>
  </div>

  <div class="form-group row mt_20">
    <label for="head_frame_game_type" class="col-sm-2 control-label">配置计谋</label>
    <div class="col-sm-8">
      <%= f.select :config_type, options_for_select(GameProp::CONFIG_TYPE.to_a.map(&:reverse), @game_prop.config_type), {}, class: 'form-control', required: "required" %>
      <div id="silk_bag_card_div" class="mt_20">
        <% if params[:action] == 'edit' && @game_prop.config_type == 1 %>
          <%= render partial: 'appoint_card_own' %>
        <% elsif params[:action] == 'edit' && @game_prop.config_type == 2 %>
          <%= render partial: 'random_card_own' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="form-group row mt_50">
    <div class="col-sm-offset-4 col-sm-4">
      <%= link_to '取消', silk_bags_game_props_path, class: 'btn btn-default mr_20 btn-lg', role: 'button' %>
      <%= f.submit '保存', class: 'btn btn-primary btn-lg', id: 'game_prop_submit' %>
    </div>
  </div>

<% end %>
