<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>触发条件（两）</th>
    <th>获取每个用户密钥数量</th>
    <th>触发时显示语句</th>
    <th></th>
  </tr>
  <tbody id="glutton_setting_body">
    <% @glutton_settings && @glutton_settings.each do |glutton_setting| %>
      <tr class="tr_<%= glutton_setting.id %>">
        <input type="hidden" name="glutton_settings[][id]" value="<%= glutton_setting.id %>">
        <td>
          <input type="number" name="glutton_settings[][forage_count]" value="<%= glutton_setting.forage_count %>" min="1" max="9999" placeholder=">0的整数" class="form-control card_count" width="100px" required>
        </td>
        <td>
          <div class="input-group">
            <input type="number" name="glutton_settings[][gain_user_key]" value="<%= (glutton_setting.gain_user_key * 100).to_i %>" min="0" max="100" placeholder=">0的整数" class="form-control card_count" width="100px" required>
            <span class="input-group-addon">%</span>
          </div>
        </td>
        <td>
          <input type="text" name="glutton_settings[][show_text]" value="<%= glutton_setting.show_text %>" class="form-control" width="100px" required>
        </td>
        <td><%= link_to '删除', 'javascript:void(0)', class: "del_glutton_setting_origin", id: "glutton_setting_#{glutton_setting.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '添加条件', "javascript:void(0)", id: 'add_glutton_setting', class: 'btn btn-success mb_20' %>
