<div class="row"><p class="sub-header">宝箱管理>充值管理>未通过订单</p></div>

<%= render partial: 'cancel_search' %>

<div class="row">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>订单号</th>
        <th>订单渠道</th>
        <th>充值类型</th>
        <th>下单时间</th>
        <th>用户手机</th>
        <th>用户昵称</th>
        <th>充值手机/QQ号</th>
        <th>充值金额/Q币数</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @chest_orders && @chest_orders.each_with_index do |chest_order, index| %>
      <tr id="tr_<%= chest_order.id %>">
        <td><%= chest_order.code %></td>
        <td>宝箱</td>
        <td><%= ChestOrder::RECHARGE_TYPE[chest_order.recharge_type] %></td>
        <!-- <td><%#= chest_order.order_time %></td> -->
        <td><%= chest_order.created_at&.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= chest_order.user&.mobile %></td>
        <td><%= chest_order.user&.nick_name %></td>
        <td><%= chest_order.number %></td>
        <td><%= chest_order.amount %></td>
        <td>
          <%#= link_to '删除', chest_order_path(chest_order), method: :delete, data: {confirm: '确定删除吗？'}, class: 'btn btn-sm btn-danger' %>
          <%= link_to '确认充值', 'javascript:void(0)', onclick: "chest_order_confirm(#{chest_order.id}, 1, 'cancels')", class: 'btn btn-success btn-sm', role: 'button' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @chest_orders %>

<%= render partial: 'confirm_modal' %>
