<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th width="20%">昵称</th>
      <th width="50%">VIP等级</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @auction_users && @auction_users.each_with_index do |auction_user, index| %>
      <tr id="tr_<%= auction_user.id %>">
        <td><%= auction_user.id %></td>
        <td><%= auction_user.account&.phone || auction_user.name || auction_user.account&.email%></td>
        <td><%= auction_user.level&.name %></td>
        <td>
          <%#= link_to '查看', auction_user_path(auction_user), class: 'btn btn-sm btn-info' %>
          <% if can?("auction/users#edit") %>
            <%= link_to '编辑', edit_auction_user_path(auction_user), class: 'btn btn-sm btn-primary' %>
          <% end %>
          <!-- <% if can?("auction/users#destroy") %>
            <%= link_to '删除', auction_user_path(auction_user), method: :delete, data: {confirm: '确定删除吗？'}, role: 'button', class: 'btn btn-sm btn-danger' %>
          <% end %> -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @auction_users %>
