<%= form_for @card_bag, html: { class: ''} do |f| %>

  <div class="form-group row mt_20">
    <label for="energy_product_name" class="col-sm-2 control-label">卡包名称：</label>
    <div class="col-sm-8">
      <%= f.text_field :name, id: 'card_bag_name', placeholder: '卡包名称， < 30字', class: 'form-control', required: "required", onkeyup: "validate_length_of_words(this.id,30)" %>
      <p class="bg-danger p_last_num left_str_num"></p>
    </div>
  </div>

  <div class="form-group row">
    <legend><h3>配置计谋</h3></legend>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>计谋ID</th>
            <th>计谋类型</th>
            <th>计谋名称</th>
            <th>计谋保底数量</th>
          </tr>
        </thead>
        <tbody>
          <% @cards && @cards.each_with_index do |card, index| %>
            <tr id="tr_<%= card.id %>">
              <td><%= card.id %></td>
              <td><%= Card::CARDTYPE[card.card_type] %></td>
              <td><%= card.name %></td>
              <td>
                <%= text_field_tag "card_bag_items[#{card.id}]",  "#{@card_bag_items&.select{|c| c&.card_id == card.id}&.uniq&.first&.card_num || 0}", id: "card_#{card.id}", class: 'custom_input_md', placeholder: '计谋保底数量', type: 'number', required: 'required' %>张
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="form-group row mt_50">
    <div class="col-sm-offset-4 col-sm-4">
      <%= link_to '取消', card_bags_path, class: 'btn btn-default mr_20 btn-lg', role: 'button' %>
      <%= f.submit '保存', class: 'btn btn-primary btn-lg', id: 'card_bag_submit' %>
    </div>
  </div>

<% end %>
