<div class="row"><p class="sub-header">营销管理>邮件管理>邮件文案</p></div>

<%#= render partial: 'search' %>

<div class="row mt_20 mb_20">
  <%= link_to '新增文案', new_mail_path, class: 'btn btn-primary', role: 'button' %>
</div>

<div class="row">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>邮件类型</th>
        <th>邮件标题</th>
        <!-- <th>副标题</th> -->
        <!-- <th>启用状态</th> -->
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @mails && @mails.each_with_index do |mail, index| %>
      <tr id="tr_<%= mail.id %>">
        <td><%= mail.id %></td>
        <td><%= mail.mail_type&.name %></td>
        <td><%= mail.title %></td>
        <!-- <td><%#= mail.sub_title %></td> -->
        <!-- <td><%#= mail.status ? '启用' : '禁用' %></td> -->
        <td>
          <%#= link_to '查看', mail_path(mail), class: 'btn btn-sm btn-info' %>
          <%= link_to '编辑', edit_mail_path(mail), class: 'btn btn-sm btn-primary' %>
          <%# if mail_type.status %>
            <%#= link_to '停用', "javascript:void(0)", onclick: "mail_type_able(#{mail_type.id}, '#{mail_type.name}', 0)", role: 'button', class: 'btn btn-sm btn-danger' %>
          <%# else %>
            <%#= link_to '启用', "javascript:void(0)", onclick: "mail_type_able(#{mail_type.id}, '#{mail_type.name}', 1)", role: 'button', class: 'btn btn-sm btn-success' %>
          <%# end %>
          <%# if game_type.status == 0 %>
            <%#= link_to '删除', "javascript:void(0)", onclick: "game_type_delete(#{game_type.id}, '#{game_type.name}')", role: 'button', class: 'btn btn-sm btn-danger' %>
          <%# end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @mails %>

<%#= render partial: 'able_modal' %>


