<p id="notice"><%= notice %></p>

<h1>Manage Roles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_roles.each do |manage_role| %>
      <tr>
        <td><%= link_to 'Show', manage_role %></td>
        <td><%= link_to 'Edit', edit_manage_role_path(manage_role) %></td>
        <td><%= link_to 'Destroy', manage_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manage Role', new_manage_role_path %>
