<p class="sub-header">战场管理>商品管理>订单管理><%= @order.good_name %></p>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>夺宝信息</strong></div>
  <ul class="list-group">

    <li class="list-group-item">夺宝期号：<%= @order.battle_code %></li>
    <li class="list-group-item">夺宝商品：<%= @order.good_name %></li>
    <li class="list-group-item">幸运号码：<%= @order.luck_num %></li>
  </ul>

</div>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>中奖用户</strong></div>
  <ul class="list-group">

    <li class="list-group-item">中奖用户：<%= @order.user.nick_name %></li>
    <li class="list-group-item">联系手机：<%= @order.user.mobile %></li>
    <li class="list-group-item">中奖时间：<%= datetime_format @order.create_time %></li>
    <li class="list-group-item">末轮号码：<%= @order.luck_num %></li>
  </ul>

</div>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>中奖认领</strong></div>
  <ul class="list-group">
    <li class="list-group-item">认领状态：<%= BattleWinningRecord::CLAIMSTATUS[@order.claim_status.to_i] %></li>
    <li class="list-group-item">领取类型：<%= BattleWinningRecord::DRAWSTATUS[@order.draw_status.to_i] %></li>
    <% if @order.draw_status.to_i == 1 %>
        <li class="list-group-item">领取商品：<%= @order.good_name %></li>
        <% if @order.battle_products_copies %>
            <li class="list-group-item">商品SKU：<%= @order.battle_products_copies.first&.sku %></li>
            <li class="list-group-item">商品库存地：<%= @order.battle_products_copies.first&.inventory_place %></li>
            <li class="list-group-item">商品市场价：<%= @order.battle_products_copies.first&.market_price.to_f %></li>
        <% end %>
    <% elsif @order.draw_status.to_i == 2 %>
        <li class="list-group-item">功勋：<%= @order.battle&.exchange_micro_ticket%></li>
    <% elsif @order.draw_status.to_i == 3 %>
        <li class="list-group-item">卡牌礼包ID：<%= @order.battle_packages.present? ? @order.battle_packages.first.package_id : '无'%></li>
        <li class="list-group-item">卡牌礼包：<%= @order.battle_packages.present? ? @order.battle_packages.first.name : '无'%></li>
    <% end %>
    <li class="list-group-item">认领时间：<%= datetime_format @order.claim_time %></li>

  </ul>

</div>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>收货信息</strong></div>
  <ul class="list-group">
    <li class="list-group-item">收货姓名：<%= @order.consignee %></li>
    <li class="list-group-item">联系方式：<%= @order.mobile %></li>
    <li class="list-group-item">邮编：<%= @order.postcode %></li>
    <li class="list-group-item">收货地址：<%= @order.shipping_address %></li>
  </ul>
</div>


    <!--修改订单物流信息-->
    <div class="panel panel-info">

      <div class="panel-heading"><strong>物流信息</strong></div>
      <div class="panel-body">
        <ul class="list-group">

          <li class="list-group-item">订单状态：<%= BattleWinningRecord::SHIPPINGSTATUS[@order.shipping_status] %></li>
          <li class="list-group-item">发货日期：<%= @order.shipping_time.present? ? @order.shipping_time.strftime('%Y-%m-%d %H:%M') : '' %></li>
          <li class="list-group-item">发货商品：<%= @order.shipping_name %></li>
          <li class="list-group-item">物流公司：<%= @order.logistics_company %></li>
          <li class="list-group-item">物流单号：<%= @order.logistics_num %></li>
        </ul>
      </div>
    </div>

