<%= form_with(model: exchange_product_price_log, local: true) do |form| %>
  <% if exchange_product_price_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exchange_product_price_log.errors.count, "error") %> prohibited this exchange_product_price_log from being saved:</h2>

      <ul>
      <% exchange_product_price_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :exchange_product_id %>
    <%= form.number_field :exchange_product_id, id: :exchange_product_price_log_exchange_product_id %>
  </div>

  <div class="field">
    <%= form.label :dealer_id %>
    <%= form.number_field :dealer_id, id: :exchange_product_price_log_dealer_id %>
  </div>

  <div class="field">
    <%= form.label :dealer_type %>
    <%= form.text_field :dealer_type, id: :exchange_product_price_log_dealer_type %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :exchange_product_price_log_price %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time, id: :exchange_product_price_log_time %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :exchange_product_price_log_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
