<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @comment.status %>
</p>

<p>
  <strong>Request ip:</strong>
  <%= @comment.request_ip %>
</p>

<p>
  <strong>Table:</strong>
  <%= @comment.table_id %>
</p>

<p>
  <strong>Table name:</strong>
  <%= @comment.table_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @comment.active %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
