<p class="sub-header">系统管理>角色管理>角色列表</p>
<div class="row placeholders">
  <a href="/roles/new" class="btn btn-primary btn-lg" role="button">新增角色</a>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>角色ID</th>
      <th>角色名称</th>
      <th>角色code</th>
      <th>资源权限</th>
      <th>描述</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% @roles.each do |r| %>
        <tr>
          <td><%=r.id %></td>
          <td><%=r.name %></td>
          <td><%= r.en_name %></td>
          <td><%= r.authority_resources.map(&:name).join(',') %>
          <td><%= r.remark %></td>
          <td>
            <a href="/roles/<%= r.id%>/edit"  class="btn btn-warning btn-sm ">修改</a>
            <a href="javascript:void(0)" onclick="obj_delete_modal(<%= r.id%>,'<%= r.name%>')" class="btn btn-danger btn-sm ">删除</a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @roles %>

<%= render 'shared/obj_delete_modal', locals: {title: '角色删除', url: '/roles/destroy'} %>