<!-- <div id="prize_div"> -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="hide">奖品级别</th>
        <th>奖品名称</th>
        <th>奖品数量</th>
        <th class="hide">剩余数量</th>
        <th class="hide">奖品总价值</th>
        <!-- <th>指定获得</th> -->
        <th class="hide">优先展示</th>
        <th class="hide">排序</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="h5_fix_prizes_body">
      <% if @cash_fix_own_prizes.blank? %>
        <%= render partial: 'cash_fix_form' %>
      <% else %>
        <% @cash_fix_own_prizes && @cash_fix_own_prizes.each do |box_prize| %>
          <tr id="tr_<%= box_prize.id %>">
            <input type="hidden" name="cash_fix_prizes[][id]" value="<%= box_prize.id %>">
            <input type="hidden" name="cash_fix_prizes[][prize_type]" value="9">
            <td class="hide">
              <%= select_tag "cash_fix_prizes[][level]", options_for_select([["无", 0]] + ChestBoxPrize::LEVEL.to_a.map(&:reverse), box_prize.level), required: 'required', class: 'level' %>
            </td>
            <td>
              <%= select_tag "cash_fix_prizes[][chest_prize_id]", options_for_select([["无", nil]] + ChestPrize.active.where(prize_type: 10).select('id, name').map{|cp| [cp.name, cp.id]}, box_prize.chest_prize_id), class: 'game_select2 chest_prize', style: "width: 200px !important;" %>
            </td>
            <td>
              <input type="hidden" class="price" value="<%= box_prize.chest_prize&.price %>">
              <input type="number" name="cash_fix_prizes[][base_num]" value="<%= box_prize.base_num %>" min="0" placeholder="奖品数量" class="prize_num" required>
            </td>
            <td class="hide"><%= box_prize.left_num %></td>
            <td class="worth_td hide">
              <input type="number" name="cash_fix_prizes[][worth]" value="<%= box_prize.worth %>" min="0" placeholder="奖品总价值" class="worth" required readonly="readonly">
            </td>
            <!-- <td class="user_td">
              <input type="text" name="cash_fix_prizes[][user_id]" value="<%#= box_prize.user_id %>" placeholder="用户id" class="user_id" readonly="readonly">
            </td> -->
            <td class="hide">
              <!-- <input type="radio" name="cash_fix_prizes[][is_prior]" value="1" checked="<%#= box_prize.is_prior ? 'checked' : '' %>" class="is_prior">优先展示 -->
              <%= select_tag "cash_fix_prizes[][is_prior]", options_for_select(ChestPrize::IS_PRIOR.to_a.map(&:reverse), box_prize.is_prior ? 1 : 0), required: 'required', class: 'is_prior' %>
            </td>
            <td class="hide">
              <input type="number" name="cash_fix_prizes[][sort_num]" value="<%= box_prize.sort_num %>" min="0" placeholder="越大越前" required>
            </td>
            <td>
              <%# unless params[:action] == 'show' %>
                <%#= link_to '删除', 'javascript:void(0)', class: "del_box_prize_origin", id: "chest_box_prize_#{box_prize.id}" %>
              <%# end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<!-- </div> -->
