<p id="notice"><%= notice %></p>

<h1>Financial Records</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Dealer</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Dealer type</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_records.each do |financial_record| %>
      <tr>
        <td><%= financial_record.account_id %></td>
        <td><%= financial_record.dealer_id %></td>
        <td><%= financial_record.amount %></td>
        <td><%= financial_record.balance %></td>
        <td><%= financial_record.dealer_type %></td>
        <td><%= financial_record.active %></td>
        <td><%= link_to 'Show', financial_record %></td>
        <td><%= link_to 'Edit', edit_financial_record_path(financial_record) %></td>
        <td><%= link_to 'Destroy', financial_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial Record', new_financial_record_path %>
