<p id="notice"><%= notice %></p>

<h1>Auction Apply Logs</h1>

<table>
  <thead>
    <tr>
      <th>Apply</th>
      <th>User</th>
      <th>Active</th>
      <th>Content</th>
      <th>Check result</th>
      <th>Check time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auction_apply_logs.each do |auction_apply_log| %>
      <tr>
        <td><%= auction_apply_log.apply_id %></td>
        <td><%= auction_apply_log.user_id %></td>
        <td><%= auction_apply_log.active %></td>
        <td><%= auction_apply_log.content %></td>
        <td><%= auction_apply_log.check_result %></td>
        <td><%= auction_apply_log.check_time %></td>
        <td><%= link_to 'Show', auction_apply_log %></td>
        <td><%= link_to 'Edit', edit_auction_apply_log_path(auction_apply_log) %></td>
        <td><%= link_to 'Destroy', auction_apply_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auction Apply Log', new_auction_apply_log_path %>
