<div class="collapse breadcrumb-collapse-s" id="activity_product_search">
  <div class="well">
     <%= form_for auction_promotion_activities_path, html: {class: 'form-horizontal', method: 'get'} do |f| %>
      <div class="form-group col-sm-4">
        <label for="input3" class=" col-sm-4 control-label">SPU-ID:</label>
        <div class="col-sm-8">
          <%= text_field_tag "q[product_id_in]", params[:q][:product_id_in], class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-sm-4">
        <label for="input4" class=" control-label col-sm-4">原厂款号:</label>
        <div class="col-sm-8">
          <%= text_field_tag "q[product_identifier_cont]", params[:q][:product_identifier_cont], class: "form-control", placeholder: "原厂款号" %>
        </div>
      </div>
      <div class="form-group col-sm-4">
        <label for="input4" class=" control-label col-sm-4">供应商:</label>
        <div class="col-sm-8">
          <%= text_field_tag "q[provider_name_cont]", params[:q][:provider_name_cont], class: "form-control", placeholder: "供应商" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8 text-center">
          <%= f.submit '查询', class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
